<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" style="display: flex; justify-content: space-between;">
                <h5 class="card-title">Events Map</h5>
                <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="selectionMap">
                    <label ngbButtonLabel class="btn-primary" style="background-color: #6570C6;">
                      <input ngbButton type="radio" [value]="0"> Last 5 Minutes
                    </label>
                    <label ngbButtonLabel class="btn-primary" style="background-color: #6570C6;">
                      <input ngbButton type="radio" [value]="1"> Select Date
                    </label>
                  </div>
            </div>
            <div class="card-body">
                <div class="map-container" style="position:static; height: 62.5vh; margin: 0;">
                    <div class="map-frame">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <div class="card card-chart">
            <div class="card-header" style="display: flex; justify-content: space-between;">
                <h5 class="card-title">Daily Summary</h5>
                <form class="form-inline">
                    <div class="form-group hidden">
                        <div class="input-group">
                            <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
                                [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2"
                                [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!" tabindex="-1">
                            <ng-template #t let-date let-focused="focused">
                                <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                                    [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                                    (mouseleave)="hoveredDate = null">
                                    {{ date.day }}
                                </span>
                            </ng-template>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate"
                                [value]="formatter.format(fromDate)"
                                (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar fa fa-calendar"
                                    (click)="datepicker.toggle()" type="button"></button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group ml-2">
                        <div class="input-group">
                            <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate"
                                [value]="formatter.format(toDate)"
                                (input)="toDate = validateInput(toDate, dpToDate.value)">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar fa fa-calendar"
                                    (click)="datepicker.toggle()" type="button"></button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="card-body">
                <canvas id="dailyExcessiveChart" width="400" height="100"></canvas>
            </div>
        </div>
    </div>
</div>