<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>
    </div>
    <div *ngIf="onRoadInfo" class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="selectionPlace">
      <label ngbButtonLabel style="background-color: #6570C6;">
        <input ngbButton type="radio" [value]="0"> Ponte da Barra
      </label>
      <label ngbButtonLabel style="background-color: #6570C6;">
        <input ngbButton type="radio" [value]="1"> Duna
      </label>
      <label ngbButtonLabel style="background-color: #6570C6;">
        <input ngbButton type="radio" [value]="2"> Ria Ativa
      </label>

    </div>
  </div>
</nav>