<div>
  <ngx-spinner [fullScreen]="true"></ngx-spinner>
</div>
<div class="row">

  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header">
        <h5 class="card-title">Conditions</h5>
      </div>
      <div class="card-body ">
        <div class="row" style="margin-left: 10px;">
          <div class="col-6 col-md-6" *ngIf="ultimoClimateBA && carbonFootprintBarra">
            <h5 style=" color:#6570C6">Barra
              <fa-icon *ngIf="ultimoClimateBA.daytime" style="color: #1D3150;" [icon]="cleanSkies"></fa-icon>
              <fa-icon *ngIf="!ultimoClimateBA.daytime" style="color: #1D3150;" [icon]="moonIcon"></fa-icon>
              {{ultimoClimateBA.temperature}}º
            </h5>
            <p style="font-size:110%; font-weight: bold">
              <fa-icon *ngIf="ultimoClimateBA.condition==='FG'" style="color: #6570C6;" [icon]="foggy"
                       size="2x"></fa-icon>
              <fa-icon *ngIf="ultimoClimateBA.condition==='RN'" style="color: #6570C6;" [icon]="rainIcon"
                       size="2x"></fa-icon>
              <fa-icon *ngIf="ultimoClimateBA.condition==='CL'" style="color: #6570C6;" [icon]="cleanSkies"
                       size="2x"></fa-icon>
              {{conditionBA}}
            <p>
            <p style="font-size:110%; font-weight: bold">
              <fa-icon style="font-size:150%; color:#93D16E;margin-right:3% " [icon]="leafIcon"></fa-icon>
              {{carbonFootprintBarra.CO2.toFixed(2)}}g
            <p>
          </div>
          <div class="col-6 col-md-6" *ngIf="ultimoClimateCN && carbonFootprintCostaNova">
            <h5 style="color:#6570C6">Costa Nova
              <fa-icon *ngIf="ultimoClimateCN.daytime" style="color: #1D3150;" [icon]="cleanSkies"></fa-icon>
              <fa-icon *ngIf="!ultimoClimateCN.daytime" style="color: #1D3150;" [icon]="moonIcon"></fa-icon>
              {{ultimoClimateCN.temperature}}º
            </h5>
            <p style="font-size:110%; font-weight: bold">
              <fa-icon *ngIf="ultimoClimateCN.condition==='FG'" style="color: #6570C6;" [icon]="foggy"
                       size="2x"></fa-icon>
              <fa-icon *ngIf="ultimoClimateCN.condition==='RN'" style="color: #6570C6;" [icon]="rainIcon"
                       size="2x"></fa-icon>
              <fa-icon *ngIf="ultimoClimateCN.condition==='CL'" style="color: #6570C6;" [icon]="cleanSkies"
                       size="2x"></fa-icon>
              {{conditionCN}}
            <p>
            <p style="font-size:110%; font-weight: bold">
              <fa-icon style="font-size:150%; color:#93D16E;margin-right:3% " [icon]="leafIcon"></fa-icon>
              {{carbonFootprintCostaNova.CO2.toFixed(2)}}g
            <p>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats" *ngIf="dataAtualWeather">
          <i class="fa fa-clock-o"></i> Updated at {{dataAtualWeather}}
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header">
        <h5 class="card-title">Today's Traffic Inflow</h5>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-6 col-md-6" *ngIf="ultimoDailyInflowBA">
            <h5 style="color:#6570C6">Barra</h5>
            <p style="font-size:110%">
              <b>
                <fa-icon style="font-size:150%; color:#E18660;margin-right:3% " [icon]="max"></fa-icon>
                Maximum: </b>{{ ultimoDailyInflowBA.maximum }}
            </p>
            <p style="font-size:110%">
              <b>
                <fa-icon style="font-size:150%; color:#6672C0;margin-right:7% " [icon]="rn"></fa-icon>
                Current: </b>{{ ultimoDailyInflowBA.current }}
            </p>

          </div>
          <div class="col-6 col-md-6" *ngIf="ultimoDailyInflowCN">
            <h5 style="color:#6570C6">Costa Nova</h5>
            <p style="font-size:110%">
              <b>
                <fa-icon style="font-size:150%; color:#E18660;margin-right:3% " [icon]="max"></fa-icon>
                Maximum: </b> {{ ultimoDailyInflowCN.maximum }}
            </p>
            <p style="font-size:110%">
              <b>
                <fa-icon style="font-size:150%; color:#6672C0;margin-right:7% " [icon]="rn"></fa-icon>
                Current: </b> {{ ultimoDailyInflowCN.current }}
            </p>
          </div>
        </div>

      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats" *ngIf="dataAtualDailyInflow">
          <i class="fa fa-clock-o"></i> Updated at {{dataAtualDailyInflow}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Current Traffic</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-8">
            <div class="row">
              <div class="col-md-4 d-flex flex-column align-items-center">
                <fa-icon style="color: #366171;" [icon]="camera"></fa-icon>
                <h6 style="font-size:140%">Ria Ativa</h6>
              </div>
              <div class="col-md-4 d-flex flex-column align-items-center">
                <fa-icon style="color: #366171;" [icon]="camera"></fa-icon>
                <h6 style="font-size:140%">Duna</h6>
              </div>
              <div class="col-md-4 d-flex flex-column align-items-center">
                <fa-icon style="color: #366171;" [icon]="camera"></fa-icon>
                <h6 style="font-size:140%">Ponte Barra</h6>
              </div>
            </div>
          </div>
          <div class="col-2"></div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="row d-flex justify-content-center">
              <p style="color:#366171; font-size: 250%; font-weight: initial">
                <fa-icon [icon]="car"></fa-icon>
              </p>
            </div>
          </div>
          <div class="col-8">
            <div class="row" style="padding-top:1%; margin-top: 7.5px;" *ngIf="dataCurrentTrafficInfo">
              <div class="col-md-4 d-flex justify-content-center align-items-center">
                <p [style.color]="currentTrafficInfoRA.color"
                   style="font-size: 130%; font-weight: initial; text-align: center;">
                  <b>{{currentTrafficInfoRA.traffic}}</b></p>
              </div>
              <div class="col-md-4 d-flex justify-content-center align-items-center">
                <p [style.color]="currentTrafficInfoRA.color"
                   style="font-size: 130%; font-weight: initial; text-align: center;">
                  <b>{{currentTrafficInfoDN.traffic}}</b>
                </p>
              </div>
              <div class="col-md-4 d-flex justify-content-center align-items-center">
                <p [style.color]="currentTrafficInfoRA.color"
                   style="font-size: 130%; font-weight: initial; text-align: center;">
                  <b>{{currentTrafficInfoPT.traffic}}</b></p>
              </div>
            </div>
          </div>
          <div class="col-2"></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-2">
            <div class="row d-flex justify-content-center">
              <p style="color:#366171; font-size: 300%;">
                <fa-icon [icon]="person"></fa-icon>
              </p>
            </div>
          </div>
          <div class="col-8">
            <div class="row" style="padding-top:1%; margin-top: 7.5px;" *ngIf="dataCurrentTrafficInfo">

              <div class="col-md-4 d-flex justify-content-center">
                <p style="font-size: 130%; font-weight: initial">{{currentTrafficInfoRA.people}} pedestrians</p>
              </div>
              <div class="col-md-4 d-flex justify-content-center">
                <p style="font-size: 130%; font-weight: initial">{{currentTrafficInfoDN.people}} pedestrians</p>
              </div>
              <div class="col-md-4 d-flex justify-content-center">
                <p style="font-size: 130%; font-weight: initial">{{currentTrafficInfoPT.people}} pedestrians</p>
              </div>
            </div>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats" *ngIf="dataCurrentTrafficInfo">
          <i class="fa fa-clock-o"></i> Updated at {{dataCurrentTrafficInfo}}
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="card card-stats" style="background-color: #6570C6">
      <div class="card-header">
        <h5 style="color:white;" class="card-title">Events Overview</h5>
      </div>
      <div class="card-body">
        <div class="col-12 d-flex justify-content-center" *ngIf="dataEventsOverview">
          <h6 style="color:white;" class="card-title">{{eventOverviewText}}</h6>
        </div>
        <div class="row d-flex flex-column align-items-center" *ngIf="dataEventsOverview">
          <p style="font-size: 450%;color:white"><b>{{eventOverviewValue}}</b></p>
          <p style="color:white; margin-bottom: 50px;">LAST 24H</p>
          <div class="btn-group btn-group-toggle">
            <label style="background-color: white;" class="btn-primary" ngbButtonLabel>
              <input [routerLink]="['/event']" type="checkbox" ngbButton> See All
            </label>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats" style="color:white" *ngIf="dataEventsOverview">
          <i style="color:white" class="fa fa-clock-o"></i> Updated at {{dataEventsOverview}}
        </div>
      </div>
    </div>
  </div>

</div>
