<div class="row">

  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-6 col-md-6">
            <h5>Conditions</h5>
            <hr>
            <h6>Barra</h6>
              <p style="font-size:110%"><fa-icon [icon]="rainIcon" ></fa-icon> 23º<p>
              <p style="font-size:110%"><fa-icon style="color:green"[icon]="leafIcon" ></fa-icon> 800g<p>
          </div>
          <div class="col-6 col-md-6">
            <h5 style="color:white;">...</h5>
            <hr style="border-color:white">
            <h6>Costa Nova</h6>
              <p style="font-size:110%"><fa-icon [icon]="sunCloudIcon" ></fa-icon> 19º<p>
              <p style="font-size:110%"><fa-icon style="color:green"[icon]="leafIcon" ></fa-icon> 450g<p>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i> Updated at 09/04/2021 12:35
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-6 col-md-6">
            <h5>Traffic Inflow</h5>
            <hr>
            <h6>Barra</h6>
            <p style="font-size:110%"><b style="color:#3472F7">Maximum:</b> 35</p>
            <p style="font-size:110%"><b style="color:#3472F7">Current:</b> 14</p>
          </div>
          <div class="col-6 col-md-6">
            <h5 style="color:white;">...</h5>
            <hr style="border-color:white">
            <h6>Costa Nova</h6>
            <p style="font-size:110%"><b style="color:#3472F7">Maximum:</b> 57</p>
            <p style="font-size:110%"><b style="color:#3472F7">Current:</b> 29</p>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i> Updated at 09/04/2021 12:35
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
              <h4 class="card-title">
                Current Traffic
                <p class="category">IN EACH CAMERA/RADAR</p>
              </h4>
            </div>
          </div>
        <hr>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8" >
              <div class="row">
                <div class="col-md-3 d-flex justify-content-center">
                  <h6>Ria Ativa</h6>
                </div>
                <div class="col-md-3 d-flex justify-content-center">
                  <h6>Duna</h6>
                </div>
                <div class="col-md-3 d-flex justify-content-center">
                  <h6>A25 Aveiro</h6>
                </div>
                <div class="col-md-3 d-flex justify-content-center">
                  <h6>Ponte Barra</h6>
                </div>
              </div>
            </div>
            <div class="col-2"></div>
          </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8" >
              <div class="row">
                <div class="col-md-3 d-flex justify-content-center">
                  <p style="color:green">Flowing normally</p>
                </div>
                <div class="col-md-3 d-flex justify-content-center">
                  <p style="color:red">Careful! Excessive speed.</p>
                </div>
                <div class="col-md-3 d-flex justify-content-center">
                  <p style="color:green">Flowing normally</p>
                </div>
                <div class="col-md-3 d-flex justify-content-center">
                  <p style="color: #fd7e14">Slow</p>
                </div>
              </div>
            </div>
            <div class="col-2"></div>
          </div>

      </div>
    </div>
  </div>


<div class="col-lg-3 col-md-3 col-sm-3">
  <div class="card card-stats" style="background-color: #CA0B00">
    <div class="card-body ">
      <div class="row" style="margin-bottom:0 ">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <h6>Speeding Cars</h6>
        </div>
      </div>
      <div class="row" style="margin-top:0">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <p style="margin-top:0">LAST 24H</p>
        </div>
      </div>
      <div class="row" style="margin-top:0">
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <p style="font-size: 450%"><b>23</b></p>
        </div>
      </div>
    </div>
    <div class="card-footer ">
      <hr>
      <div class="stats" style="color:black">
        <i style="color:black" class="fa fa-clock-o"></i> Updated at 09/04/2021 12:35
      </div>
    </div>
  </div>
</div>

</div>

<!--
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Users Behavior</h5>
        <p class="card-category">24 Hours performance</p>
      </div>
      <div class="card-body ">
        <canvas id=chartHours width="400" height="100"></canvas>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 3 minutes ago
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Email Statistics</h5>
        <p class="card-category">Last Campaign Performance</p>
      </div>
      <div class="card-body ">
        <canvas id="chartEmail"></canvas>
      </div>
      <div class="card-footer ">
        <div class="legend">
          <i class="fa fa-circle text-primary"></i> Opened
          <i class="fa fa-circle text-warning"></i> Read
          <i class="fa fa-circle text-danger"></i> Deleted
          <i class="fa fa-circle text-gray"></i> Unopened
        </div>
        <hr>
        <div class="stats">
          <i class="fa fa-calendar"></i> Number of emails sent
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">NASDAQ: AAPL</h5>
        <p class="card-category">Line Chart with Points</p>
      </div>
      <div class="card-body">
        <canvas id="speedChart" width="400" height="100"></canvas>
      </div>
      <div class="card-footer">
        <div class="chart-legend">
          <i class="fa fa-circle text-info"></i> Tesla Model S
          <i class="fa fa-circle text-warning"></i> BMW 5 Series
        </div>
        <hr/>
        <div class="card-stats">
          <i class="fa fa-check"></i> Data information certified
        </div>
      </div>
    </div>
  </div>
</div>
-->
