<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"style="display: flex; justify-content: space-between;">
        <h4 class="card-title"> Latest Events</h4>
          <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="selectionMap">
            <label ngbButtonLabel class="btn-primary" >
              <input ngbButton type="radio" [value]="0"> All
            </label>
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" [value]="1"> Select Date
            </label>
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" [value]="2"> Select Location
            </label>
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" [value]="3"> Select Type
            </label>
        </div>

      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table" style="table-layout: fixed;">
            <thead class=" text-primary">
              <th>
                Timestamp
              </th>
              <th>
                Location
              </th>
              <th>
                Type
              </th>
              <th>
                Class
              </th>
              <th>
                Speed (km/h)
              </th>
              <th>
                GeoLocation
              </th>
              <th>
                CO2 Emission (g/km)
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let e of events">
                <td>
                  {{e.timestamp}}
                </td>
                <td>
                  {{e.location}}
                </td>
                <td>
                  {{e.type}}
                </td>
                <td>
                  {{e.class}}
                </td>
                <td>
                  {{e.speed}}
                </td>
                <td>
                  {{e.geolocation}}
                </td>
                <td>
                  {{e.co2}}
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
