
<div *ngIf="conditionBA && conditionCN" class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header">
                <h5 class="card-title">Praia da Barra
                  <fa-icon *ngIf="ultimoBA.daytime" style="color: #1D3150;" [icon]="cleanSkies"></fa-icon>
                  <fa-icon *ngIf="!ultimoBA.daytime" style="color: #1D3150;" [icon]="moonIcon"></fa-icon>
                  {{ultimoBA.temperature}}º</h5>

            </div>
            <div class="card-body ">
                <div class="row" style="margin: 10px 15px;">
                    <div class="col-6 col-md-6 col-sm-12">
                        <div style="display: flex; align-items: center; justify-content: space-around;">
                            <fa-icon style="color: #7FD45F;" [icon]="leafIcon" size="4x"></fa-icon>
                            <div class="numbers" style="display: flex; flex-direction: column; align-items: center;">
                                <p class="card-category">Carboon Footprint (CO2)</p>
                                <p class="card-title">800g
                                <p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 col-sm-12">
                        <div style="display: flex; align-items: center; justify-content: space-around;">
                            <div style="width: 55px; height: 55px;">
                              <fa-icon *ngIf="ultimoBA.condition==='FG'" style="color: #6570C6;" [icon]="foggy" size="4x"></fa-icon>
                              <fa-icon *ngIf="ultimoBA.condition==='RN'" style="color: #6570C6;" [icon]="rainy" size="4x"></fa-icon>
                              <fa-icon *ngIf="ultimoBA.condition==='CL'" style="color: #6570C6;" [icon]="cleanSkies" size="4x"></fa-icon>
                            </div>
                            <div class="numbers" style="display: flex; flex-direction: column; align-items: center;">
                                <p class="card-category">Climate Condition</p>
                                <p class="card-title">{{conditionBA}}
                                <p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-refresh"></i> Updated at {{dataAtual}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header">
                <h5 class="card-title">Costa Nova
                  <fa-icon *ngIf="ultimoCN.daytime" style="color: #1D3150;" [icon]="cleanSkies"></fa-icon>
                  <fa-icon *ngIf="!ultimoCN.daytime" style="color: #1D3150;" [icon]="moonIcon"></fa-icon>
                  {{ultimoCN.temperature}}º
                </h5>
            </div>
            <div class="card-body ">
                <div class="row" style="margin: 10px 15px;">
                    <div class="col-6 col-md-6 col-sm-12">
                        <div style="display: flex; align-items: center; justify-content: space-around;">
                            <fa-icon style="color: #7FD45F;" [icon]="leafIcon" size="4x"></fa-icon>
                            <div class="numbers" style="display: flex; flex-direction: column; align-items: center;">
                                <p class="card-category">Carboon Footprint (CO2)</p>
                                <p class="card-title">400g
                                <p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 col-sm-12">
                        <div style="display: flex; align-items: center; justify-content: space-around;">
                            <div style="width: 55px; height: 55px;">
                              <fa-icon *ngIf="ultimoCN.condition==='FG'" style="color: #d0cdd1;" [icon]="foggy" size="4x"></fa-icon>
                              <fa-icon *ngIf="ultimoCN.condition==='RN'" style="color: #6570C6;" [icon]="rainy" size="4x"></fa-icon>
                              <fa-icon *ngIf="ultimoCN.condition==='CL'" style="color: #6570C6;" [icon]="cleanSkies" size="4x"></fa-icon>
                            </div>
                            <div class="numbers" style="display: flex; flex-direction: column; align-items: center;">
                                <p class="card-category">Climate Condition</p>
                                <p class="card-title">{{conditionCN}}
                                <p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-refresh"></i> Updated at {{dataAtual}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" >
        <div class="card">
            <div class="card-header" style="display: flex; justify-content: space-between;">
                <h5 class="card-title">Events Map</h5>
              <form [formGroup]="radioGroupForm">
                <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="model">
                  <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" (click)="filterRain()" [value]="0"> Rain
                  </label>
                  <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" (click)="filterFog()" [value]="1"> Fog
                  </label>
                  <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" (click)="filterNoLight()" [value]="2"> No Light
                  </label>
                  <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" (click)="filterLight()" [value]="3"> Light
                  </label>
                  <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" (click)="filterOutsideTemp()" [value]="4"> Outside Temp.
                  </label>
                  <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" (click)="filterCarbon()" [value]="5"> Carbon Footp.
                  </label>
                </div>
              </form>
                <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="dataSelection">
                    <label ngbButtonLabel class="btn-primary">
                      <input style="height: 50px" ngbButton type="radio" (click)="last5min()" [value]="0"> Last 5 Minutes
                    </label>
                    <label ngbButtonLabel class="btn-primary">
                      <input style="height: 50px" ngbButton type="radio" (click)="selectDate()" [value]="1"> Select Date
                    </label>
                </div>
            </div>
          <div *ngIf="dataSelection==1" class="d-flex flex-row-reverse">
            <div class="p-2">
              <form class="form-inline" >
                <div class="form-group hidden" >
                    <div class="input-group" >
                      <!-- PARTE PARA DAR TOGGLE DO DATAPICKER -->
                        <input style="z-index: -1"  name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
                            [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2"
                            [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!" tabindex="-1">
                        <ng-template #t let-date let-focused="focused">
                            <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                                [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                                (mouseleave)="hoveredDate = null">
                                {{ date.day }}
                            </span>
                        </ng-template>
                    </div>
                </div>
                <div class="form-group" style="margin-top:2%">
                        <!-- PARTE ONDE APARECEM AS DATAS ESCOLHIDAS -->
                        <button class="btn btn-outline-secondary calendar fa fa-calendar"
                            (click)="datepicker.toggle()" type="button">
                        </button>
                        <input #dpFromDate class="form-control input-sm" placeholder="yyyy-mm-dd" name="dpFromDate"
                            [value]="formatter.format(fromDate)"
                            (input)="fromDate = validateInput(fromDate, dpFromDate.value)" >
                        <input #dpToDate class="form-control input-sm" placeholder="yyyy-mm-dd" name="dpToDate"
                            [value]="formatter.format(toDate)"
                            (input)="toDate = validateInput(toDate, dpToDate.value)">
                </div>
              </form>
            </div>
          </div>
            <div class="card-body">
                <div class="map-container" style="position:static; height: 62.5vh; margin: 0;">
                    <div class="map-frame">
                        <div id="mapConditions"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card ">
          <div class="card-header ">
            <h5 class="card-title">Praia da Barra</h5>
            <p class="card-category">Conditions Chart</p>
          </div>
          <div class="card-body ">
            <canvas id="chartBarra"></canvas>
          </div>
          <div class="card-footer ">
            <div class="legend">
              <i class="fa fa-circle text-primary"></i> Rain
              <i class="fa fa-circle text-warning"></i> Clean
              <i class="fa fa-circle text-danger"></i> Fog
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card ">
          <div class="card-header ">
            <h5 class="card-title">Costa Nova</h5>
            <p class="card-category">Conditions Chart</p>
          </div>
          <div class="card-body ">
            <canvas id="chartCostaNova"></canvas>
          </div>
          <div class="card-footer ">
            <div class="legend">
              <i class="fa fa-circle text-primary"></i> Rain
              <i class="fa fa-circle text-warning"></i> Clean
              <i class="fa fa-circle text-danger"></i> Fog
            </div>
          </div>
        </div>
      </div>
</div>
