<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header">
                <h5 class="card-title">Praia da Barra</h5>
            </div>
            <div class="card-body ">
                <div class="row" style="margin: 10px 15px;">
                    <div class="col-6 col-md-6 col-sm-12">
                        <div style="display: flex; align-items: center; justify-content: space-around;">
                            <fa-icon style="color: #7FD45F;" [icon]="leafIcon" size="4x"></fa-icon>
                            <div class="numbers" style="display: flex; flex-direction: column; align-items: center;">
                                <p class="card-category">Carboon Footprint (CO2)</p>
                                <p class="card-title">800g
                                <p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 col-sm-12">
                        <div style="display: flex; align-items: center; justify-content: space-around;">
                            <div style="width: 55px; height: 55px;">
                                <fa-icon style="color: #6570C6;" [icon]="rainIcon" size="4x"></fa-icon>
                            </div>
                            <div class="numbers" style="display: flex; flex-direction: column; align-items: center;">
                                <p class="card-category">Climate Condition</p>
                                <p class="card-title">Rain
                                <p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-refresh"></i> Updated at 09/04/2021 12:35
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header">
                <h5 class="card-title">Costa Nova</h5>
            </div>
            <div class="card-body ">
                <div class="row" style="margin: 10px 15px;">
                    <div class="col-6 col-md-6 col-sm-12">
                        <div style="display: flex; align-items: center; justify-content: space-around;">
                            <fa-icon style="color: #7FD45F;" [icon]="leafIcon" size="4x"></fa-icon>
                            <div class="numbers" style="display: flex; flex-direction: column; align-items: center;">
                                <p class="card-category">Carboon Footprint (CO2)</p>
                                <p class="card-title">400g
                                <p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 col-sm-12">
                        <div style="display: flex; align-items: center; justify-content: space-around;">
                            <div style="width: 55px; height: 55px;">
                                <fa-icon style="color: #F8D45B;" [icon]="sunCloudIcon" size="4x"></fa-icon>
                            </div>
                            <div class="numbers" style="display: flex; flex-direction: column; align-items: center;">
                                <p class="card-category">Climate Condition</p>
                                <p class="card-title">Inconclusive
                                <p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-refresh"></i> Updated at 09/04/2021 12:20
                </div>
            </div>
        </div>
    </div>

</div>